@page
@model CoreIdentity.Pages.Account.LoginModel
@{
}
<h3>User Login</h3>
<div class="container border p-5">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LoginViewModel.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="LoginViewModel.Email" />
                <span class="text-danger" asp-validation-for="LoginViewModel.Email"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LoginViewModel.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" class="form-control" asp-for="LoginViewModel.Password" />
                <span class="text-danger" asp-validation-for="LoginViewModel.Password"></span>
            </div>
        </div>
        <div class="form-check mb-2 row">
            <div class="col-2">
                <input type="checkbox" asp-for="LoginViewModel.RememberMe" class="form-check-input" />
                <label asp-for="LoginViewModel.RememberMe" class="form-check-label"></label>
            </div>
            <div class="col-5">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>